@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');


.aside {
    width: 300px;
    background: #040b14;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease;

}

.aside::-webkit-scrollbar {
    width: 6px;


}

.aside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.aside::-webkit-scrollbar-thumb {
    background-color: #000000;


}

.aside::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
}




.aside .logo .name {

    font-size: 24px;
    position: relative;
    color: #fff8f1;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-family: 40px;
}


.nav-menu {
    padding: 30px 0 0 0;

}

ul {
    list-style: none;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.nav li a {
    font-size: 16px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: #a8a9b4;
    transition: color 0.3s ease;

}

.nav li a:focus,
.nav li a:hover,
.nav li a.active {
    color: #1395cc;
    text-decoration: none;

}

.aside .nav li a i {
    margin-right: 15px;
}


.aside .logo .avatar-img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    height: 140px;
}

img,
svg {
    vertical-align: middle;
}

.aside .logo .social-links .facebook,
.twitter,
.instagram,
.skype {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 6px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.bx {
    font-family: boxicons;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;

}

.aside .logo .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}



a {
    color: #149ddd;
    text-decoration: none;
}

.aside .logo .social-links {
    text-align: center;
    margin-top: 1rem;
}

.aside.show {

    transform: translateX(0);
}

.hamburger-icon {
    display: none;
}

@media (max-width: 1199px) {
    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: #ec1839;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid #e8dfec;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: #fdf9ff;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: #ec1839;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}