.section {
    background: #f2f2fc;
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;
    position: fixed;
    left: 270px;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.home {
    min-height: 100vh;
    display: flex;

}



@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}



.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-family: 700;
    color: #ec1839;
    padding-left: 6px;
}



.my-profession {
    display: flex;
    align-items: center;


}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: #ec1839;
    padding-left: 5px;
}

.typed-cursor {
    animation: blink 1s infinite;
    color: black;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.des {
    margin-bottom: 70px;
    font-size: 20px;
    color: #504e70;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: #ec1839;
    transition: all 0.3s ease;
}



.btn:hover {
    transform: scale(1.05);
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #ec1839;
    border-left: 10px solid #ec1839;
    left: 20px;
    top: -40px;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid #ec1839;
    border-right: 10px solid #ec1839;
    right: 20px;
    bottom: -40px;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-img .img-wrapper {
    position: relative;
    width: 300px;
    height: 400px;
}

.home .home-img img,
.home .home-img .flip-img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-img .flip-img {
    background: url('../anhny.jpg') no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%) rotateY(180deg);
}

.home .home-img:hover img {
    transform: translate(-50%, -50%) rotateY(180deg);
}


.home .home-img:hover .flip-img {
    transform: translate(-50%, -50%) rotateY(0deg);
}