@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins' sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

.section.back-section {
  z-index: 1;
}

@media (max-width:1199px) {
  .section .container {
    padding-top: 70px;
  }

  .aside {
    left: -440px;
    width: 440px;
  }

  .aside.open {
    left: 0;
  }

  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
    position: fixed;
  }

  .section.open {
    left: 270px;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width:991px) {

  .contact .contact-info-item,
  .portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .service .service-item {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width:767px) {

  .contact .contact-info-item,
  .contact .contact-form .col-6,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .personal-info,
  .about .about-content .skills {
    flex: 0 0 100%;
    max-width: 100%;
  }
}